<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

  <form action="/add_book" method="POST">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required><br><br>

  <label for="isbn">ISBN Number:</label>
  <input type="text" id="isbn" name="isbn" required><br><br>
  <label for="publication_year">Publication year:</label>
  <input type="text" id="publication_year" name="publication_year"><br><br>
  <label for="author">Choose an Author:</label>
    <select id="author" name="author">
  {% for author in authors %}
      {{ author }}
       <option value="{{ author }}">{{ author  }}</option>
  {% endfor %}
</select>

  <input type="submit" value="Add Book">
  </form>

  </body>
</html>
